html,
body,
.main {
  height: 100%; }

.navbar-default {
  background-color: #3BA2CB;
  font-size: 1.2em;
  margin: 0;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #03475A; }

.logo {
  width: 100%; }

.menu {
  font-family: "growl";
  letter-spacing: -6px; }

.main .hero {
  background-color: #3BA2CB;
  width: 100%;
  height: 100%;
  position: relative; }

.kid,
.dog,
.fortune,
.roller,
.stage,
.crowd,
.cloud,
.city,
.balloons {
  position: absolute; }

.cloud {
  width: 70px; }

.cloud1 {
  left: 30%;
  top: 40px; }

.cloud2 {
  right: 30%;
  top: 90px; }

.cloud3 {
  left: 20;
  top: 150px; }

.kid {
  width: 100px;
  left: 20%;
  bottom: 10%; }

.dog {
  width: 110px;
  left: 50%;
  bottom: 10%; }

.fortune {
  bottom: 200px;
  left: 50%;
  width: 80px; }

.city {
  bottom: 200px; }

.roller {
  bottom: 200px; }

.stage {
  width: 100px;
  left: 20px;
  bottom: 180px; }

.crowd {
  width: 100px;
  left: 20px;
  bottom: 150px; }

.balloons {
  width: 120px;
  top: 20px;
  left: 50%; }

.heading {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 150px;
  color: #03475A; }

.btn-informes {
  background-color: #FFDB7C;
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%); }

.growl {
  font-family: "growl"; }

@media (min-width: 667px) {
  .kid {
    left: 40%; }

  .dog {
    left: 60%; }

  .fortune {
    bottom: 200px;
    left: 50%;
    width: 130px; } }
@media (min-width: 768px) {
  .kid {
    left: 50%; }

  .dog {
    left: 60%; }

  .fortune {
    bottom: 200px;
    left: 50%;
    width: 130px; }

  .stage {
    width: 300px;
    left: 20px;
    bottom: 180px; }

  .crowd {
    width: 200px;
    left: 65px;
    bottom: 120px; } }
@media (min-width: 992px) {
  .kid {
    left: 60%; }

  .dog {
    left: 70%; }

  .fortune {
    bottom: 200px;
    left: 50%;
    width: 180px; }

  .stage {
    width: 400px;
    left: 20px;
    bottom: 180px; }

  .crowd {
    width: 300px;
    left: 65px;
    bottom: 80px; }

  .heading {
    width: 30%;
    text-align: left;
    top: 150px;
    right: 10px; } }
