html,
body,
.main {
  height: 100%;
  font-size: 1rem; }

.weare {
  background-color: #88C445; }

.navbar-default {
  background-color: #3BA2CB;
  font-size: 1.2em;
  margin: 0;
  border: none; }

.patrick {
  font-family: 'Patrick Hand SC', sans; }

.navbar-default .navbar-nav > li > a {
  color: #03475A; }

.logo {
  width: 100%; }

.main .hero {
  background-color: #3BA2CB;
  width: 100%;
  height: 100%;
  position: relative; }

.kid,
.dog,
.fortune,
.roller,
.stage,
.crowd,
.cloud,
.city,
.balloons {
  position: absolute; }

.cloud {
  width: 70px; }

.cloud1 {
  left: 30%;
  top: 40px; }

.cloud2 {
  right: 30%;
  top: 90px; }

.cloud3 {
  left: 20;
  top: 150px; }

.kid {
  width: 100px;
  left: 20%;
  bottom: 25%; }

.dog {
  width: 110px;
  left: 50%;
  bottom: 25%; }

.fortune {
  bottom: 260px;
  left: 50%;
  width: 80px; }

.city {
  bottom: 260px; }

.roller {
  bottom: 260px; }

.stage {
  width: 100px;
  left: 20px;
  bottom: 240px; }

.crowd {
  width: 100px;
  left: 20px;
  bottom: 220px; }

.balloons {
  width: 120px;
  top: 20px;
  left: 50%; }

.heading {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
  color: #03475A; }

.num1,
.num2,
.num3,
.num4,
.num5,
.num6 {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-bottom: 30px; }

.num1 {
  background: url("../img/1.svg") no-repeat center; }

.num2 {
  background: url("../img/2.svg") no-repeat center; }

.num3 {
  background: url("../img/3.svg") no-repeat center; }

.num4 {
  background: url("../img/4.svg") no-repeat center; }

.num5 {
  background: url("../img/5.svg") no-repeat center; }

.num6 {
  background: url("../img/6.svg") no-repeat center; }

.btn-informes,
.btn-informes:link,
.btn-informes:visited {
  background-color: #7FD5E9;
  position: absolute;
  bottom: 60px;
  border: 0;
  left: 50%;
  padding: 7px;
  transform: translateX(-50%);
  width: 80%;
  font-size: 1.5rem;
  text-decoration: underline;
  transition: .3s;
  color: #fff; }

.btn-informes:hover,
.btn-informes:active,
.btn-informes:focus {
  background-color: #3ec0de;
  color: #fff; }

.bg_logo {
  width: 60%;
  margin-top: 50px; }

.festival {
  margin: 100px 0 50px 0;
  background: url("../img/bg_logo.svg") no-repeat center center;
  font-size: 2.5rem; }

.somos {
  margin-bottom: 50px; }

.mic,
.ticket,
.grad,
.food,
.wheel,
.surprise {
  width: 60%;
  margin-bottom: 50px; }

.features {
  margin-top: 100px; }

.features h3 {
  font-size: 2rem;
  margin-bottom: 50px; }

.icons {
  margin-bottom: 50px; }

.heading-sponsors {
  font-size: 2rem;
  width: 60%;
  margin: 0 auto;
  line-height: 2rem; }
