$color-primary: #2b4a7f;
$button-default: #26c82c;
$transition-default: .3s ease;

/*1.Base*/
body,
html{
  height: 100%;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  font-smoothing: antialiased;
}

nav{
  width: 100%;
}

header{

  background: url("../img/bg.png")no-repeat center;
  background-size: cover;
  overflow: hidden;
  max-height: 600px; 

}

header img{

  display: inline-block;

}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-bottom: 40px;
  font-family:'Open Sans', sans-serif;
  text-transform: lowercase;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  margin: 0;
}

section{
  padding: 50px 20px;
  position: relative;
}

section:nth-of-type(even){
  background-color: #F9FAFB;
}

button {
  padding: 10px 30px;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
button a {
  color: #fff;
}
button.rounded{
  border-radius: 40px;
}
button.half-rounded{
  border-radius: 5px;
}
button.default{
  background-color: $button-default;
}
button.block{
  display: block;
  width: 90%;
  margin: 0 auto;
}
button.bordered-default{
  background-color: transparent;
  border: 2px solid $button-default;
  color: $button-default;
  -webkit-transition: $transition-default;
  transition: $transition-default;
    &:focus{
    outline: 0;
    }
    &:hover{
      background-color: $button-default;
      color: #fff;
    }
}

button.default{


  color: #fff;
  -webkit-transition: $transition-default;
  transition: $transition-default;
    &:focus{
    outline: 0;
    }
    &:hover{
      background-color: darken($button-default, 5%);
      color: #fff;
    }
}
.main-btn{
  position: relative;
  padding: 10px 40px;
}

.main-btn a {
  text-decoration: none;
  color: $color-primary;
  &:hover{
    color: #fff;
  }
}
/* navigation*/

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-toggle{
  border: none;
  background-color: transparent;
  &:link,
  &:hover,
  &:active{
    background-color: transparent;
  }
}


.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: $color-primary;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: $color-primary !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

#video{
  color: #fff;
  background: url("../img/teplayac.svg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#video i{
  margin-bottom: 40px;
}

.gallery button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.controlls li{
  margin-bottom: 20px;
  text-align: center;

}
@media(min-width:768px) {

    .navbar{
      border: none;
    }
    .navbar-default {
        border-color: rgb(3, 71, 90);
        background-color: transparent;
    }


    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #000;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: $color-primary;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }



    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: $color-primary;
    }
  }

.logo{
  width: 100px;
  display: inline-block;
  float: left;
  -webkit-transition: $transition-default;
  transition: $transition-default;
}




.main-heading{
  margin-top: 80px;
  -webkit-transition: $transition-default;
  transition: $transition-default;
}

.icn{
  width: 50%;
  margin: 0 auto 30px;
}

.features .panel-feature{
  margin-bottom: 80px;
  -webkit-transition: $transition-default;
  transition: $transition-default;

}
.features .panel-feature:hover{
  background: #fff;
}

.kid{


  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-transition: $transition-default;
  transition: $transition-default;
}

.rony{

  width: 140px;
  margin-top: 144px;
  margin-left: 10px;
  margin-bottom: 20px;
  -webkit-transition: $transition-default;
  transition: $transition-default;

}




@media only screen and (min-width : 768px) {

  .kid{


    width: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 500px;
    -webkit-transition: $transition-default;
    transition: $transition-default;
  }

  .rony{

    width: 140px;
    margin-top: 124px;
    margin-left: 10px;
    margin-bottom: 20px;
    -webkit-transition: $transition-default;
    transition: $transition-default;

  }

  .main-heading{
    margin-top: 200px;
  }


}

a [data-filter]{
  cursor: pointer;
}


@media (min-width: 300px) and (max-width: 599px) and (orientation: landscape) {

  .kid{
    margin-left: 250px;
  }
}

 @media (min-width: 600px) and (max-width: 1413px) and (orientation: landscape) {
   
  
  }

.countdown{
  color: #fff;
}

/* sponsors*/
.sponsors img{
  opacity: .8;
  margin: 0 auto 40px;
}

@media only screen and (min-width : 768px) {
  .sponsors img{
    width: 50%;
  }

  .countdown{
     background-attachment: fixed; 
  }
}
/* end-sponsors*/


.countdown{

  background:-webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/portada.jpg")no-repeat center;
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/portada.jpg")no-repeat center;
  background-size: cover;

}

.video i{
  font-size: 600%;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}



/* video*/

.video-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video-holder video {
  position: absolute;
  width: 100%;
  height: 150%;
  top: -20%;
  left: 0;
}

.filters button:not(:last-child){
  margin-right: 20px;
  margin-bottom: 20px;
}
@media all and (max-width: 1370px) {
  .video-holder video {
    height: 160%;
    top: -30%;
  }
}
@media all and (max-width: 1260px) {
  .video-holder video {
    height: 170%;
    top: -35%;
    width: 110%;
  }
}
@media all and (max-width: 1130px) {
  .video-holder video {
    height: 200%;
    top: -48%;
    width: 120%;
  }
}
@media all and (max-width: 1000px) {
  .video-holder {
    display: none;
  }
}
#container .mix{
  display: none;
}

.video-strip {
  position: relative;
  padding: 120px 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.video-strip .pre-video i {
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 40px;
  color: $color-primary;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  opacity: 1;
}
.video-strip h2 {
  margin: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  display: inline-block;
  margin-left: 24px;
  position: relative;
  bottom: 8px;
}
.video-strip:hover h2 {
  transform: translate3d(8px, 0, 0);
  -webkit-transform: translate3d(8px, 0, 0);
  -moz-transform: translate3d(8px, 0, 0);
}
.video-strip:hover .pre-video i {
  transform: translate3d(-8px, 0, 0);
  -webkit-transform: translate3d(-8px, 0, 0);
  -moz-transform: translate3d(-8px, 0, 0);
  opacity: 1;
}
.video-strip .pre-video i:hover {
  background: $color-primary;
  color: #fff;
  -webkit-transform: translateX(-8px) scale(1.2);
          transform: translateX(-8px) scale(1.2);
}
.pre-video {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  max-height: 200px;
}
.video-strip .iframe-holder {
  max-width: 890px;
  text-align: right;
  margin: 0 auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.iframe-holder iframe {
  border: 0;
  width: 100%;
  height: 500px;
}
.iframe-holder i {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 40px;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.iframe-holder i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
iframe {
  border: none !important;
}
.show-iframe {
  max-height: 800px !important;
  overflow: visible !important;
}
.fade-off {
  opacity: 0;
  max-height: 0;
}
.fade-on {
  opacity: 1 !important;
}

/*countdown*/
.countdown-row {
  display: block !important;
  width: 100%;

}
.countdown-row span {
  color: #fff;
  font-weight: 300;
  opacity: 1 !important;
}
.countdown-section {
  width: 25%;
  display: inline-block;
}
.countdown-amount {
  display: inline-block;
  margin-bottom: 32px;
  color: #fff;
  font-size: 50px !important;
}
.countdown-period {
  display: block !important;
  font-size: 18px !important;
}

/* galeria*/

.gallery-full{
  padding-top: 50px;
}

.contact {
  background: #081029;
  color: #fff;
  & h2,
  & p{
    color: #fff;
  }
}

/* footer*/

.icon{
  font-size: 300%;
  color:$color-primary;
  margin-right: 20px;
  display: inline-block;
}

.icons{
  margin-top: 20px;
}

a.icon-social{
  font-size: 150%;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

a.icon-social:not(:last-child){
  margin-right: 40px;
}

.contact .footer div{
  margin-bottom: 20px;
}

.count-head{
  margin-top: 40px;
}

.bottom{
  background-color: $color-primary;
}

/* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .countdown-row{
        width: 40%;
        margin: 0 auto;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .logo{
        width: 130px;
        display: inline-block;
        float: left;
        margin-top: 5px;
      }

      .nav{
        min-height: 70px;
        -webkit-transition: $transition-default;
        transition: $transition-default;
        }

      .gallery-full{
        padding-top: 70px;
        & li{
          margin-top: 20px;
        }
      }


      .navbar-nav>li>a{
        padding-top: 25px;
      }

      .countdown{

        background-size: cover;
        background-attachment: fixed;
      }


      section.gallery{
  padding: 0;
}
 h2 {
  margin-bottom: 80px;
 }
section.gallery img{
  opacity: .3;
  -webkit-transition: $transition-default;
  transition: $transition-default;
  &:hover{
    opacity: 1;
  }
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .kid{


        width: 100px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 800px;
        -webkit-transition: $transition-default;
        transition: $transition-default;
      }

      .rony{

        width: 140px;
        margin-top: 124px;
        margin-left: 10px;
        margin-bottom: 20px;
        -webkit-transition: $transition-default;
        transition: $transition-default;

      }
    }

    @media only screen and (min-width : 1450px) {
      .kid{


        width: 200px;
        margin-top: -100px;
        margin-bottom: 20px;
        margin-left: 800px;
        -webkit-transition: $transition-default;
        transition: $transition-default;
      }

      .rony{

        width: 240px;
        margin-top: 124px;
        margin-left: 10px;
        margin-bottom: 20px;
        -webkit-transition: $transition-default;
        transition: $transition-default;

      }
    }
